---
layout: default
title: Author
cover: 'assets/images/vfd_cover_author.jpg'
class: 'author-template'
navigation: True
label: Author
logo: 'assets/images/vfd_hola.png'

---
<!-- < default}} -->
<!-- The tag above means - insert everything in this file into the [body] of the default.hbs template -->

<!-- The big featured header -->

<!-- Everything inside the #author tags pulls data from the author -->
<!-- #author  -->
    <header class="main-header author-head {% if page.cover %}" style="background-image: url({{ site.baseurl }}{{ page.cover }}) {% else %}no-cover{% endif %}">
        <nav class="main-nav overlay clearfix">
            {% if page.logo %}<a class="blog-logo" href="{{ site.baseurl }}"><img src="{{ site.baseurl }}{{ page.logo }}" alt="Blog Logo" /></a>{% endif %}
            {% if page.navigation %}
                <a class="menu-button icon-menu" href="#"><span class="word">Menu</span></a>
            {% endif %}
        </nav>
    </header>

    <section class="author-profile inner">
        {% if site.image %}
        <figure class="author-image">
            <div class="img" style="background-image: url({{ site.baseurl }}{{ site.image }})"><span class="hidden">{{ site.author }}'s Picture</span></div>
        </figure>
        {% endif %}
        <h1 class="author-title">{{ site.author }}</h1>
        {% if site.bio %}
            <h2 class="author-bio">{{ site.bio }}</h2>
        {% endif %}
        <div class="author-meta">
          <ul style="list-style-type:none;">
            <!--li>
            {% if site.location %}<span class="author-location icon-location">{{ site.location }}</span>{% endif %}
            </li-->
            <li>
              {% if site.url %}<span class="author-link icon-link"><a href="{{ site.url }}" target="_blank">{{ site.short_url }} </a></span>{% endif %}
            </li>
            <!-- <span class="author-stats"><i class="icon-stats"></i> [[plural ../pagination.total empty='No posts' singular='% post' plural='% posts']]</span> -->

            <!--<span class="author-stats"><i class="icon-stats"></i>{% if paginator.total_posts == 0 %}No posts{% elsif paginator.total_posts == 1 %}1 post{% else %}{{ paginator.total_posts }} posts{% endif %}</span -->

              {% for network in site.social %}

              <li>    <a href="{{ network.url }}" target="_blank" class="btn btn-default btn-lg"><i class="fa fa-{{ network.title }} fa-fw"></i> <span class="network-name">{{ network.title }}</span></a>
              </li>
              {% endfor %}
</ul>

        </div>
    </section>
<!-- /author -->



<!-- The main content area on the homepage -->

<!--
<main id="content" class="content" role="main">
-->
    <!-- The tag below includes the post loop - partials/loop.hbs  -->
<!--    {% include loop.html %} -->

<!--
</main>
-->
